source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Core
nuget FsToolkit.ErrorHandling
nuget LibGit2Sharp
nuget Microsoft.NET.Test.Sdk
nuget Moq
nuget NUnit
nuget NUnit3TestAdapter
nuget ObjectDumper.NET