source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0
nuget Colorful.Console
nuget Microsoft.NET.Test.Sdk
nuget Moq
nuget NUnit
nuget NUnit3TestAdapter
nuget ObjectDumper.NET
nuget runprocess